@model EmployeeSalaryCalculationSystem.MVC.ViewModels.RoleViewModel

@{
    ViewData["Title"] = "Role Details";
}

<div>
    <h1>Role</h1>
    <h4>Role Details</h4>
    <hr />

    <div class="row">
        <br />
        <div class="col-md-6"></div>
        <div class="col-md-6 footer-buttons">
            <a asp-action="Index" class="btn btn-outline-default float-right">Back to List</a><span>&nbsp; &nbsp;</span>
            <a asp-action="Edit" asp-controller="Role" asp-route-id="@Model.RoleId" style="margin-right: 5px;" class="btn btn-warning float-right">Edit</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <input asp-for="RoleName" class="form-control" readonly />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="RoleDescription" class="control-label"></label>
                <input asp-for="RoleDescription" class="form-control" readonly />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="RatePerhour" class="control-label"></label>
                <input asp-for="RatePerhour" class="form-control" readonly />
            </div>
        </div>
    </div>
</div>