@model EmployeeSalaryCalculationSystem.MVC.ViewModels.RoleViewModel

@{
    ViewData["Title"] = "Update Role Details";
}

<h1>Role</h1>
<h4>Update Role Details</h4>
<hr />

<form asp-action="Edit">
    <div class="row">
        <br />
        <div class="col-md-6"></div>
        <div class="col-md-6 footer-buttons">
            <a asp-action="Index" class="btn btn-outline-default float-right">Back to List</a><span>&nbsp; &nbsp;</span>
            <input type="submit" value="Save" style="margin-right: 5px;" class="btn btn-success float-right" />
        </div>
    </div>
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(model => model.RoleId)
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <span class="text-danger">*</span>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="RoleDescription" class="control-label"></label>
                <input asp-for="RoleDescription" class="form-control" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="RatePerhour" class="control-label"></label>
                <span class="text-danger">*</span>
                <input asp-for="RatePerhour" class="form-control" />
                <span asp-validation-for="RatePerhour" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
